<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Articles</title>
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <nav>
        <a href="/articles/new">Add Article</a>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>
    <h1>Articles</h1>
    <div class="articles flex">
      <% if(articles.length) { %> <% articles.forEach(article => { %>
      <div class="article-title">
        <a href="/articles/<%= article.slug %>">
          <h3><%= article.title %></h3>
        </a>
      </div>
      <% }) %> <% } else {%>
      <h4>No Articles Present</h4>
      <% } %>
    </div>
  </body>
</html>