<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header >
        <h1>User login page</h1>
        <a href="/"><button>Home</button></a>
        <!-- <a href="/users/register"><button>Register User</button></a> -->
      </header>
      <form action="/users/login" method="POST">
       <% if(error){ %>
            <p style="color: rgb(216, 103, 103);"><%= error%></p>
      <%  }  %>
          <input type="email" name="email" placeholder="Enter email">
          <input type="password" name="password" placeholder="Enter password">
          <input type="submit" value="Login">
      </form>
</body>
</html>