<!DOCTYPE html>
<html>
  <head>
    <title>auth-APp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/login"><button>Login button</button></a>
    <a href="/users/register"><button>Register button</button></a>
  </body>
</html>

